/* General body styling for article pages */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #333030;
    margin: 0;
    padding: 0;
}

/* Wrapper for the article page */
.article-wrapper {
    margin-left: 240px;
    max-width: calc(100% - 260px);
    padding-left: 20px;
    padding-right: 20px;
    background-color: #333030;
}

/* Header container for the article title */
.article-header {
    background-color: #4B2AA3;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
}

/* Article title within the header */
.article-header .article-title {
    font-size: 2.5rem;
    margin-left: 10px;
    color: #FFFFFF;
}

.divider {
    border: none;
    border-top: 1px solid #ddd;
}

/* Container for the article */
.article-container {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #333030;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

/* Main content styling */
.main-content {
    flex: 1;
    padding-right: 20px;
}

/* Article description styling */
.article-description {
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 2px;
    color: #ddd;
}

/* Section title styling */
.section-title {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    background-color: #3a3a3a;
    padding-left: 5px;
    color: #ddd;
}

.subsection-title {
    font-size: 1.25rem;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    background-color: #3a3a3a;
    padding-left: 5px;
    color: #ddd;
}

.subsubsection-title {
    font-size: 1rem;
    margin-bottom: 2px;
    font-weight: bold;
    background-color: #3a3a3a;
    color: #ddd;
}

/* Section content styling */
.section-content {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #ddd;
}

/* Infobox styling */
.infobox {
    color: #ddd;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #2A637A;
    border: 1px solid #1A3840;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    margin-left: 20px;
}

.infobox-title {
    font-size: 1.3rem;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    background-color: #1A3840;
    margin-left: 5px;
    margin-right: 5px;
}

.infobox-subtitle {
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.infobox-alt-title {
    font-size: 1rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.normal-text {
    font-style: normal;
}

.infobox p {
    font-size: 1rem;
    margin: 8px 0;
    text-align: center;
}

.infobox p strong {
    font-weight: bold;
    text-align: center;
}

.infobox img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.infobox-flag {
    max-width: 150px;
    max-height: 100px;
}

.infobox-map {
    max-width: 280px;
    max-height: 280px;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

.infobox table {
    display: table;
    box-sizing: border-box;
    border-collapse: separate;
    text-indent: initial;
}

.table-infobox {
    margin: 0.5em 0 0.5em 1em;
    float: right;
    clear: right;
    width: 100%;
}

.infobox tr {
    display: table-row;
    vertical-align: inherit;
}

.infobox-label {
    text-align: left;
    vertical-align: top;
}

.infobox-data {
    text-align: left;
    vertical-align: top;
}

th {
    display: table-cell;
    font-weight: bolder;
}

td {
    display: table-cell;
}

/* Table of Contents styling */
.toc {
    color: #ddd;
    width: 200px;
    padding: 10px;
    border: none;
    border-right: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    position: fixed;
    top: 90px;
    left: 20px;
    z-index: 1000;
    background-color: #333030;
}

.toc h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.toc ul {
    list-style-type: none;
    padding-left: 0;
}

.toc ul ul {
    margin-left: 15px; /* Indent subsections */
}

.toc ul li {
    margin-bottom: 8px;
}

.toc ul li a {
    color: #2A62A3;
    text-decoration: none;
}

.toc ul li a:hover {
    text-decoration: underline;
}

/* Expand/collapse sections */
details summary {
    cursor: pointer;
    list-style: none;
    color: #ddd;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

details summary::before {
    content: "+ ";
    font-weight: bold;
    color: #2A62A3;
}

details[open] summary::before {
    content: "- ";
    font-weight: bold;
    color: #2A62A3;
}

/* Responsive design for smaller screens */
@media (max-width: 1200px) {
    .article-container {
        flex-direction: column;
    }

    .infobox {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }

    .main-content {
        padding-right: 0;
    }

    .toc {
        display: none;
    }
    
    .article-wrapper {
        margin-left: 0;
        max-width: 100%;
        padding-left: 0;
    }
}

/*Wiki logo*/
.logo-small {
    max-width: 60px;
    margin-right: 20px;
    cursor: pointer;
}

.logo-small:hover {
    content: url('/images/halooshidHighlight.png');
}

/* Smaller Search Bar */
#small-search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 325px;
    width: 100%;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#small-search-input {
    font-size: 1rem;
    padding: 0.5rem;
    color: #FFFFFF;
    background-color: #4B2AA3;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

#small-search-input:focus {
    outline: none;
    border-color: #2C2A7A;
}

.small-search-form button[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #4B2AA3;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Suggestions styles */
.suggestions-container {
    border: 1px solid #2C2A7A;
    border-radius: 0.25rem;
    color: #FFFFFF;
    max-height: 200px;
    overflow-y: auto;
    background-color: #4B2AA3;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
}

.suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #2C2A7A;
}

.small-suggestions-container {
    border: 1px solid #2C2A7A;
    border-radius: 0.25rem;
    color: #FFFFFF;
    max-height: 200px;
    overflow-y: auto;
    background-color: #4B2AA3;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
}

.small-suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.small-suggestion-item:hover {
    background-color: #2C2A7A;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.wiki-title {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin: 0;
    flex-grow: 1; /* Take remaining space */
}

button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #4B2AA3;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #2C2A7A;
    }
