* {
    box-sizing: border-box;
}

body {
    background-color: #333030;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 2rem;
}

h1 {
    color: #FFFFFF;
    font-size: 3rem;
}

p {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
    font-size: 2rem;
}

.center {
    text-align: center;
}

#search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    max-width: 700px; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
    padding: 0 1rem; 
}

#search-input {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    color: #FFFFFF;
    background-color: #4B2AA3;
    border-color: #2C2A7A;
    margin-right: 1rem;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    flex-grow: 1;
}

    #search-input:focus {
        outline: none;
        border-color: #2C2A7A;
    }

button[type="submit"] {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    background-color: #4B2AA3;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

    button[type="submit"]:hover {
        background-color: #2C2A7A;
    }

#search-results {
    margin-bottom: 2rem;
}

.result-item {
    margin-bottom: 1rem;
}

.result-title {
    font-size: 1.5rem;
    margin-top: 0;
}

.result-link {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #5A33C6;
}

    .result-link:hover {
        text-decoration: underline;
    }

.result-snippet {
    margin-top: 0;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    height: 10rem;
}

/* Suggestions styles */
.suggestions-container {
    border: 1px solid #2C2A7A;
    border-radius: 0.25rem;
    color: #FFFFFF;
    max-height: 200px;
    overflow-y: auto;
    background-color: #4B2AA3;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
}

.suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #2C2A7A;
}

.small-suggestions-container {
    border: 1px solid #2C2A7A;
    border-radius: 0.25rem;
    color: #FFFFFF;
    max-height: 200px;
    overflow-y: auto;
    background-color: #4B2AA3;
    position: absolute;
    z-index: 1000;
    width: 100%;
    top: 100%;
    left: 0;
    box-sizing: border-box;
}

.small-suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.small-suggestion-item:hover {
    background-color: #2C2A7A;
}

/* Header Section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.wiki-title {
    color: #FFFFFF;
    font-size: 2.5rem;
}

/* Smaller Search Bar */
#small-search-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 325px;
    width: 100%;
    margin-left: auto;
    margin-right: 30px;
    margin-top: 20px;
}

#small-search-input {
    font-size: 1rem;
    padding: 0.5rem;
    color: #FFFFFF;
    background-color: #4B2AA3;
    border: 2px solid #ccc;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
}

#small-search-input:focus {
    outline: none;
    border-color: #2C2A7A;
}

.small-search-form button[type="submit"] {
    font-size: 1rem;
    padding: 0.5rem;
    background-color: #4B2AA3;
    color: #FFFFFF;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

/* Welcome Section */
.welcome-container {
    background-color: #3a3a3a;
    border: 1.5px solid #E5E5E5;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
}

.welcome-container h2 {
    color: #FFFFFF;
    text-align: center;
    background-color: #333030;
    border-radius: 0.25rem;
    border: 1.5px solid #E5E5E5;
    padding: 0.5rem 1rem;
    margin-top: 0;
}

.welcome-container p {
    color: #FFFFFF;
    text-align: center;
}

/* Main Content Section */
.main-content {
    display: flex;
    justify-content: space-between;
}

.flex-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 1rem; 
}

.featured-article {
    background-color: #4B2AA3;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1.5px solid #2C2A7A;
    width: 48%; 
}

.news-about-kos {
    background-color: #2A637A;
    color: #FFFFFF;
    padding: 1rem;
    border-radius: 0.25rem;
    border: 1.5px solid #1A3840;
    width: 48%; 
}

.featured-article h3 {
    background-color: #2C2A7A;
    border-radius: 0.25rem;
    border: 1.5px solid #333030;
    padding: 0.5rem 1rem;
    margin-top: 0;
}

.news-about-kos h3 {
    background-color: #1A3840;
    border-radius: 0.25rem;
    border: 1.5px solid #333030;
    padding: 0.5rem 0.5rem;
    margin-top: 0;
}

.encased-h2 {
    color: #FFFFFF;
    font-size: 2rem;
    background-color: #4B2AA3;
}

.logo-large {
    max-width: 200px;
    max-height: 200px;
    vertical-align: middle;
    margin-bottom: 2rem;
    cursor: pointer;
}

.logo-large:hover {
    content: url('images/halooshidHighlight.png');
}

.logo-small {
    max-width: 60px;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.logo-small:hover {
    content: url('images/halooshidHighlight.png');
}

.wiki-title {
    color: #FFFFFF;
    font-size: 2rem;
    margin: 0;
    padding-right: 20px;
    margin-top: 20px;
}
